@model EMSWeb.Models.LoginModel
<!DOCTYPE html>
<!-- saved from url=(0042)http://emasuk.azurewebsites.net/login.html -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8" />
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Themesdesign" name="author" />
    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- css -->
    <link href="~/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
        <div class="container">
            <!-- LOGO -->
            <a class="navbar-brand logo text-uppercase" href="index.html">
                <img src="./images/logo.png" alt="" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">

                    <li class="nav-item">
                        <a href="@Url.ActionLink("Index","Index")" class="nav-link smoothlink active">Home</a>
                    </li>
                    @*<li class="nav-item">
                        <a href="../index/#aboutUs" class="nav-link smoothlink">About us</a>
                    </li>*@
                    <!--
                    <li class="nav-item">
                        <a href="#clients" class="nav-link smoothlink">Clients</a>
                    </li>-->
                    <li class="nav-item">
                        <a href="#" class="nav-link smoothlink">Help</a>
                    </li>
                </ul>
                <div class="navbar-button d-lg-inline-block">
                    <a href="@Url.ActionLink("Index","Login")" class="btn btn-sm btn-soft-primary btn-round btn-rounded">Log In</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <section class="bg-account-pages vh-100 wow fadeInUp bg-light bg-footer pb-5">
        <div class="display-table">
            <div class="display-table-cell">
                <div class="container">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-12">
                            <div class="login-box">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-lg-6">
                                        <div class="bg-light">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-10">
                                                    <div class="home-img login-img text-center d-none d-lg-inline-block">
                                                        <img src="./images/img-4.png" class="img-fluid" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-11">

                                                <div class="p-4">
                                                    <div class="text-center mt-3">
                                                        <a href="index.html">
                                                            <img src="./images/logo.png" alt="" height="40">
                                                        </a>
                                                        <p class="text-muted mt-3">Sign in to continue to EMAS UK.</p>
                                                    </div>
                                                    <div class="p-3 custom-form">
                                                        @using (Html.BeginForm())
                                                        {<div class="form-group" style="color:maroon">
                                                        @Model.ErrorMessage
                                                        </div>
                                                                <div class="form-group">
                                                                    <label for="username">Username</label>
                                                                    @*<input type="text" class="form-control" id="username" placeholder="Enter username">*@
                                                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter username" } })
                                                                    @Html.ValidationMessageFor(model => model.UserName)
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="userpassword">Password</label>
                                                                    @*<input type="password" class="form-control" id="userpassword" placeholder="Enter password">*@
                                                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter password" } })
                                                                    @Html.ValidationMessageFor(model => model.Password)
                                                                </div>

                                                                <!--<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"
                       id="customControlInline">
                <label class="custom-control-label"
                       for="customControlInline">Remember me</label>
            </div>-->

                                                                <div class="mt-3">
                                                                    <input type="submit" class="btn btn-primary btn-block" value="Login" />

                                                                </div>

                                                                <!--<div class="mt-4 pt-1 mb-0 text-center">
                <a href="password-forget.html" class="text-dark">
                    <i class="mdi mdi-lock"></i> Forgot your
                    password?
                </a>
            </div>-->
                                                                }
                                                            </div>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>



                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
        </div>
    </section>

    <!-- START FOOTER -->
    <section class="section footer-section wow fadeInUp  bg-footer pb-5" data-wow-duration="1s" data-wow-delay="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">
        <div class="container">
            <div class="row pb-3">
                <!---- <div class="col-lg-4">
                     <div class="footer-info mt-4">
                         <img src="images/logo.png" alt="" height="40">
                         <p class="text-muted mt-4 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                         <div class="team-social mt-4 pt-2">
                             <ul class="list-inline mb-0">
                                 <li class="list-inline-item">
                                     <a href="" class="text-reset"><i class="mdi mdi-facebook"></i></a>
                                 </li>
                                 <li class="list-inline-item">
                                     <a href="" class="text-reset"><i class="mdi mdi-twitter"></i></a>
                                 </li>
                                 <li class="list-inline-item">
                                     <a href="" class="text-reset"><i class="mdi mdi-google"></i></a>
                                 </li>
                                 <li class="list-inline-item">
                                     <a href="" class="text-reset"><i class="mdi mdi-linkedin"></i></a>
                                 </li>
                             </ul>
                         </div>

                     </div>
                 </div>
                 -->
                <div class="col-lg-4">
                    <div>
                        <img src="./images/footer1.jpg">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div>
                        <img src="./images/footer2.jpg">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div>
                        <img src="./images/footer3.jpg">
                    </div>
                </div>

                <!--<div class="col-lg-4">
                    <div class="mt-4">
                        <h5 class="f-20">Subscribe</h5>

                        <div class="subscribe mt-4 pt-1">
                            <form action="#">
                                <input placeholder="Enter Email" type="text">
                                <button type="submit" class="btn btn-primary"><i class="mdi mdi-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>-->

            </div>

            <hr class="my-1">

            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <p class="text-muted mb-0">2021 © All Rights Reserved </p>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- END FOOTER -->
    <!-- end account-pages  -->
    <!-- javascript -->

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/wow.js"></script>
    @*<script>new WOW().init();</script>*@
    <script src="~/js/app.js"></script>

</body>
</html>